# coding: utf-8

# 爬虫相关依赖库
requests~=2.27.1

# 数据库依赖库
sqlalchemy~=1.4.35
pymysql~=1.0.2

# Flask框架相关
flask~=2.1.1
flask_sqlalchemy
Werkzeug~=2.1.1

# 分词相关依赖库
jieba >= 0.40
paddlepaddle >= 1.6.1
Pillow == 8.4.0
snownlp~=0.12.3
